
<div class="container">
  <div class="hoverbox">
    <img class="hoverbox__image" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2OTQxOTc&ixlib=rb-4.0.3&q=80" alt="Test Img">
    <h3>{{movie.title}}</h3>
    <p>{{movie.description}}</p>
    <p>{{movie.rating}}</p>
    <button class = "button-17" (click)="addLikeFilm(movie.title)" > like </button>
    <button class="button-17" (click)="addFavorite(movie.title)" > favorite </button>
    <button class="button-17" (click)="nextFilm()" > next </button>
  </div>
</div>

