.card {
  float: left;
  margin: 5px;
}

.tab-navigation {
  background: aqua;
  height: 100px;
  color: black;
}

mat-tab {
  color: black;
}

::ng-deep .mat-mdc-tab.mdc-tab.mdc-tab.mdc-tab--active {
  background-color: var(--user-main-color);
  font-weight: 900;
  color: brown;
  font-size: 18px;
}
